resources:
- ../../base
patches:
- target:
    kind: Deployment
    name: web-app
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
configMapGenerator:
- name: app-config
  behavior: replace
  literals:
  - message="Welcome to the DEVELOPMENT environment"
