apiVersion: v1
kind: Service
metadata:
  name: hello-gitops-service
spec:
  selector:
    app: hello-gitops
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 32000  # This maps a specific port on the VM
  type: NodePort
